@{
    ViewBag.Title = "About Puzzles";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<br />
<br />
<br />
<br />
<br />
<br />
<p>This website is developed by Utpreksha Narayan.<br /> She is a B.Tech graduate from Kalinga Institute of Industrial Technology.<br />She loves problem solving</p>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />


