@model Game.Models.CountNumberOfJumps

@{
    ViewBag.Title = "Congratulations !!";
}

<h2><p><font color="blue">Congratulations !!</font></p></h2>
<br />
<br />
<br />
<br />
<br />
<br />
<dl class="dl-horizontal">
    <div class="glyphicon-gift">

        <img src="~/Images/tenor.gif" />

    
  


        <img src="~/Images/fireworks-animation-41.gif" />

    </div>
<</dl>>
    <br />
    <br />
    <br />
    <br />
    




        <center>
            <div>
                <div class="alert-success">
                    <h2> @ViewBag.Message </h2>
                </div>
            </div>
        </center>

    </div>

    <p>


    </p>
    <br />
    <br />
    <br />
    <br />
    <br />

    <br />
    <br />
    <br />

