@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Puzzles !</h1>
    <p class="lead">Some months have thirty days, some months have thirty one, but how many have twenty eight days?<br />This site allows to solve some problems or puzzles. </p>
    <p><a href="https://en.wikipedia.org/wiki/Puzzle" class="btn btn-primary btn-lg">Continue Reading.. &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>7 temple 7 river puzzle</h2>
        <p>
            somewhere in the wonder land there are sequence of 7 Temples separated by 7 rivers,
            Sequence is Temple, River, Temple, River…………
            A man has to put equal number of flowers on every temple but the catch is as he crossed the river, remaining flowers will be doubled (2 times)

            how many flowers should a man carry with him before entering into first temple so that till last river he has left with nothing?
        </p>
        <p><a class="btn btn-default" href="https://puzzlefry.com/top-30-famous-mathematical-puzzles/">Solve more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Few riddles</h2>
        <p>ravina tells karishma ,"your sister is the daughter of my mother's brother" . how is karishma related to ravina's mother's brother?</p>
        <p><a class="btn btn-default" href="https://www.riddles.com/archives/5732">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Sudoku</h2>
        <p>
            Originally called Number Place, is a logic-based, combinatorial. number-placement puzzle. The objective is to fill a 9×9 grid with digits so that each column, each row, and each of the nine 3×3 subgrids that compose the grid (also called "boxes", "blocks", or "regions") contain all of the digits from 1 to 9. The puzzle setter provides a partially completed grid, which for a well-posed puzzle has a single solution.

            Completed games are always a type of Latin square with an additional constraint on the contents of individual regions. For example, the same single integer may not appear twice in the same row, column, or any of the nine 3×3 subregions of the 9×9 playing board.
        </p>
        <p><a class="btn btn-default" href="https://sudoku.com/">Learn more &raquo;</a></p>
    </div>
</div>
